.flexButton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 25px;

  .flex {
    display: flex;
    width: 40%;
    align-items: center;
  }
}

.img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.nmb {
  border: 1px solid gray;
  border-radius: 5px;

  input {
    width: 25px;
  }
}

