<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-buttons [slot]="'start'">
      <ion-menu-button [color]="'light'" *ngIf="isAuth"></ion-menu-button>
    </ion-buttons>
    <ion-title [color]="'secondary'">Dish</ion-title>
    <ion-buttons [slot]="'end'">
      <ion-button  *ngIf="!isAuth" [routerLink]="['/login']">
        <ion-icon [color]="'light'" [name]="'log-in-outline'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuth" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of dish; index as id">
    <div class="img" [style]="'background-image:'+ 'url(assets/'+item.imgs+ ')'">
    </div>
<!--    <img [src]="'assets/'+ item.imgs">-->
    <div [ngClass]="'ion-padding'">
      {{ item.dish_desc }}
    </div>
    <div [ngClass]="'ion-padding'">
      {{ item.short_description }}
    </div>
    <ion-list *ngIf="allergen.length != 0">
      <h3 class="ion-padding-start ion-padding-top">Allergies</h3>

      <ion-item *ngFor="let item_a of allergen; index as s">
        <ion-label>
          <p>{{ item_a.name }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="supplement.length != 0">
      <h3 class="ion-padding-start ion-padding-top">Supliments</h3>

      <ion-item>
        <ion-select [(ngModel)]="supp" placeholder="Select One Supplement">
          <ion-select-option>None</ion-select-option>
          <ion-select-option *ngFor="let item_s of supplement; index as s" [value]="item_s.id">{{item_s.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <h3 class="ion-padding-start ion-padding-top">Observation</h3>
    <ion-item>
      <ion-text class="ion-padding-bottom">write here something that we have to take into consideration:</ion-text>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="observation" placeholder="write an observation"></ion-textarea>
    </ion-item>


    <div class="flexButton">
      <ion-button (click)="addCart()">+ Add to cart</ion-button>
      <div class="flex">
        <ion-label class="ion-padding-end">Quant:</ion-label>
        <ion-input [(ngModel)]="quantity" type="number" class="nmb" ></ion-input>
      </div>
    </div>
  </div>

</ion-content>
