
<ion-app>
  <ion-menu  *ngIf="isAuth" side="start" menuId="mainMenu" contentId="mainContent" >
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <div *ngFor="let item of user; index as i">
          <ion-title>{{item.username}}}</ion-title>
        </div>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <div *ngFor="let item of user; index as i">
          <img [src]="'/assets/img/profile.jpg'">
        </div>
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="['/profile']" [routerLinkActive]="['active-menu-item']">
            <ion-icon name="eye-outline"></ion-icon>
            <ion-label [ngClass]="['ion-margin-start']">View Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

<!--        <ion-menu-toggle auto-hide="true">-->
<!--          <ion-item [routerLink]="['/profile/edit']" [routerLinkActive]="['active-menu-item']">-->
<!--            <ion-icon name="create-outline"></ion-icon>-->
<!--            <ion-label [ngClass]="['ion-margin-start']">Edit Profile</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-menu-toggle>-->

<!--        <ion-menu-toggle auto-hide="true">-->
<!--          <ion-item [routerLink]="['/contact']" [routerLinkActive]="['active-menu-item']">-->
<!--            <ion-icon name="chatbox-ellipses-outline"></ion-icon>-->
<!--            <ion-label [ngClass]="['ion-margin-start']">Contact</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-menu-toggle>-->


      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="mainContent"></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="restaurants">
        <ion-icon name="restaurant-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="home-outline" ></ion-icon>
      </ion-tab-button>


      <ion-tab-button>
        <ion-icon name="cart-outline" id="trigger-button" (click)="cart"></ion-icon>
        <ion-badge color="danger" *ngIf="cart">{{ cart.length }}</ion-badge>
        <ion-badge color="danger" *ngIf="!cart">0</ion-badge>

      </ion-tab-button>

      <ion-modal trigger="trigger-button"
        [isOpen]="false"
        [breakpoints]="[0.1, 0.5, 1]"
        [initialBreakpoint]="0.5">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-list-header> Cart </ion-list-header>

              <ion-item class="ion-margin-vertical" *ngFor="let item of cart; index as c">
                <ion-label>
                  <h2>{{ item.name }}</h2>
                  <h3>quantity: <b>{{item.quantity}}</b>  </h3>
                  <h3>price: <b>{{ item.price * item.quantity}}€</b></h3>
                </ion-label>
                <ion-text (click)="remove(c)" color="danger" class="ion-margin-end"><ion-icon name="close-circle-outline"></ion-icon></ion-text>
              </ion-item>

            </ion-list>
            <ion-button class="ion-margin ion-float-end" (click)="purchase()" *ngIf="isAuth">Purchase</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>


    </ion-tab-bar>
  </ion-tabs>

</ion-app>

