<ion-app>
  <ion-menu side="start" menuId="mainMenu" contentId="mainContent">
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <ion-title>Jorge Nitales</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <div>
          <img [src]="'assets/img/profile.jpg'">
        </div>
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="['/contact']" [routerLinkActive]="['active-menu-item']">
            <ion-icon name="eye-outline"></ion-icon>
            <ion-label [ngClass]="['ion-margin-start']">View Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="['/contact']" [routerLinkActive]="['active-menu-item']">
            <ion-icon name="create-outline"></ion-icon>
            <ion-label [ngClass]="['ion-margin-start']">Edit Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="['/contact']" [routerLinkActive]="['active-menu-item']">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <ion-label [ngClass]="['ion-margin-start']">Contact</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true" *ngIf="AuthSession">
          <ion-item [routerLink]="['/profile']" [routerLinkActive]="['active-menu-item']">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label [ngClass]="['ion-margin-start']">Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="mainContent"></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="restaurants">
        <ion-icon name="restaurant-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="home-outline" ></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="cats">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="danger">6</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
