<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-buttons [slot]="'start'">
      <ion-menu-button [color]="'light'" *ngIf="isAuth"></ion-menu-button>
    </ion-buttons>
    <ion-title [color]="'secondary'">Restaurants</ion-title>
    <ion-buttons [slot]="'end'">
      <ion-button  *ngIf="!isAuth" [routerLink]="['/login']">
        <ion-icon [color]="'light'" [name]="'log-in-outline'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuth" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row [ngClass]="['ion-wrap ion-justify-content-center']" *ngFor="let restaurant of restaurants">
        <ion-col size-sm="12" size-md="6">
          <ion-card [ngClass]="['ion-margin ion-justify-content-center']" [color]="'dark'">
            <ion-header>

              {{ restaurant.first_img}}
              <img *ngIf="restaurant.first_img != ''" [src]="'/assets/'+ restaurant.first_img[0]">
              <img *ngIf="restaurant.first_img == ''" [src]="'/assets/img/demo_rest.jpg'">
              <a [routerLink]="['restaurant']" [queryParams]="{id: restaurant.id}">
              <div [ngClass]="'overlay'">
                <div [ngClass]="'text'">
                  <ion-grid>
                    <ion-row>
                      <ion-col><ion-text [ngClass]="'overText'">{{ restaurant.street }}</ion-text></ion-col>
                    </ion-row>
                  </ion-grid>
                  <ion-grid>
                    <ion-row>
                      <ion-col><ion-text [ngClass]="'overText'">{{ restaurant.phone }}</ion-text></ion-col>
                    </ion-row>
                  </ion-grid>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div [ngClass]="'note great'" *ngIf="restaurant.note > 7"><ion-text [color]="'primary'" [ngClass]="'overText'">{{ restaurant.note}}</ion-text></div>
                        <div [ngClass]="'note regular'" *ngIf="restaurant.note >= 4 && restaurant.note <= 7"><ion-text [color]="'primary'" [ngClass]="'overText'">{{ restaurant.note }}</ion-text></div>
                        <div [ngClass]="'note bad'" *ngIf="restaurant.note > 0 && restaurant.note < 4"><ion-text [color]="'primary'" [ngClass]="'overText'">{{ restaurant.note }}</ion-text></div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              </a>
            </ion-header>
            <ion-card-content>
              <a [routerLink]="['restaurant']" [queryParams]="">
              <ion-text [color]="'primary'" [ngClass]="'title'">{{ restaurant.name }}</ion-text>
              </a>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>

