<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-buttons [slot]="'start'">
      <ion-menu-button [color]="'light'"></ion-menu-button>
    </ion-buttons>
    <ion-title [color]="'secondary'">Restaurant</ion-title>
    <ion-buttons [slot]="'end'">
      <ion-button  *ngIf="!isAuth" [routerLink]="['/login']">
        <ion-icon [color]="'light'" [name]="'log-in-outline'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAuth" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let restaurant of restaurants; index as id">
    <div *ngIf="id+1 == idRoute">
      <ion-slides [pager]="'true'" [options]="'slideOpts'">
        <ion-slide *ngFor="let rest_img of restaurants[id].img_gallery; index as i">
          <img [src]="'/assets/'+ rest_img">
        </ion-slide>
      </ion-slides>
      <div [ngClass]="'ion-padding'">
        {{ restaurants[id].description }}
      </div>
      <ion-list>
        <ion-item>
          <ion-label>
            <span class="listTitle">Street</span>
            <p>{{ restaurants[id].street}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <span class="listTitle">Zip Code</span>
            <p>{{ restaurants[id].postal_code}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <span class="listTitle">Phone number</span>
            <p>{{ restaurants[id].phone}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <div class="ion-margin-top ion-padding-top" *ngIf="isAuth">
        <ion-text class="ion-padding-start ">Rate the Restaurant</ion-text>
        <ion-range min="0" max="10" pin color="warning">
          <ion-text slot="start">1</ion-text>
          <ion-text slot="end">10</ion-text>
        </ion-range>

        <ion-button class="ion-margin">Rate</ion-button>
      </div>


      <div class="buttonDiv">
        <ion-button [ngClass]="'fullButton ion-margin-top'" [color]="'secondary'" [routerLink]="['menu']" [queryParams]="{id: restaurant.id}">Menu</ion-button>
      </div>
    </div>
    </div>

  <ion-text *ngIf="restaurants.length == 0">No Restaurant Info displayed</ion-text>

</ion-content>


