ion-title {
  em {
    color: #6f42c1;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
  }

}

.box_sh {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

ion-grid {
  ion-row {
    ion-col.reqFoodButton {
      display: flex;
      justify-content: center;

      ion-button {
        position: absolute;
        top: -36px;

        button {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }
}

.icons {
  margin-top: 50px;
  background-color: lightgray;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;

  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-icon {
    font-size: 64px;
  }
}
